body{
    background-image:url("https://www.shutterstock.com/image-vector/phoenix-icon-tattoo-design-vector-260nw-1527918932.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
    width: 20px;

}
h1{
    color: forestgreen;
    text-align: center;
}